@font-face
{
    font-family: icons;src: url(../fonts/icons.eot);src: url(../fonts/icons.eot?#iefix) format('eot'),url(../fonts/icons.woff2) format('woff2'),url(../fonts/icons.woff) format('woff'),url(../fonts/icons.ttf) format('truetype'),url(../fonts/icons.svg#icons) format('svg');font-display: swap;
}.icon-acc-arrow:before,
.icon-arrow-right:before,
.icon-arrow-right_2:before,
.icon-base-pseudo,
.icon-check:before,
.icon-chevron:before,
.icon-close:before,
.icon-contacts:before,
.icon-eye:before,
.icon-fb:before,
.icon-file:before,
.icon-in:before,
.icon-message:before,
.icon-pdf:before,
.icon-pin:before,
.icon-sort:before,
.icon-time:before,
.icon-triangle:before,
.icon-vk:before,
.icon-yt:before
{
    font-family: icons;font-weight: 400;font-style: normal;font-variant: normal;text-decoration: none;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}.icon-acc-arrow:before
{
    content: '\E001';
}.icon-arrow-right:before
{
    content: '\E002';
}.icon-arrow-right_2:before
{
    content: '\E003';
}.icon-check:before
{
    content: '\E004';
}.icon-chevron:before
{
    content: '\E005';
}.icon-close:before
{
    content: '\E006';
}.icon-contacts:before
{
    content: '\E007';
}.icon-eye:before
{
    content: '\E008';
}.icon-fb:before
{
    content: '\E009';
}.icon-file:before
{
    content: '\E00A';
}.icon-in:before
{
    content: '\E00B';
}.icon-message:before
{
    content: '\E00C';
}.icon-pdf:before
{
    content: '\E00D';
}.icon-pin:before
{
    content: '\E00E';
}.icon-sort:before
{
    content: '\E00F';
}.icon-time:before
{
    content: '\E010';
}.icon-triangle:before
{
    content: '\E011';
}.icon-vk:before
{
    content: '\E012';
}.icon-yt:before
{
    content: '\E013';
}@font-face
{
    font-family: GillSansProCyrillic-Bold;font-weight: 400;font-style: normal;src: url(../fonts/GillSansProCyrillic-Bold.woff2) format('woff2'),url(../fonts/GillSansProCyrillic-Bold.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: GillSansProCyrillic-Medium;font-weight: 400;font-style: normal;src: url(../fonts/GillSansProCyrillic-Medium.woff2) format('woff2'),url(../fonts/GillSansProCyrillic-Medium.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: Manrope-ExtraBold;font-weight: 400;font-style: normal;src: url(../fonts/Manrope-ExtraBold.woff2) format('woff2'),url(../fonts/Manrope-ExtraBold.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: Manrope-Bold;font-weight: 400;font-style: normal;src: url(../fonts/Manrope-Bold.woff2) format('woff2'),url(../fonts/Manrope-Bold.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: Manrope-SemiBold;font-weight: 400;font-style: normal;src: url(../fonts/Manrope-SemiBold.woff2) format('woff2'),url(../fonts/Manrope-SemiBold.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: Manrope-Medium;font-weight: 400;font-style: normal;src: url(../fonts/Manrope-Medium.woff2) format('woff2'),url(../fonts/Manrope-Medium.woff) format('woff');font-display: swap;
}@font-face
{
    font-family: Manrope-Regular;font-weight: 400;font-style: normal;src: url(../fonts/Manrope-Regular.woff2) format('woff2'),url(../fonts/Manrope-Regular.woff) format('woff');font-display: swap;
}.b-accordion__header
{font-size: 18px;

    min-height: 100px;padding-right: 69px;
}.b-accordion__counter
{
    margin-right: 16px;
}.b-accordion__content > :last-child
{
    margin-bottom: 28px;
}.b-accordion-main-wrapper
{
    margin-bottom: 150px;
}.b-accordion-wrapper
{
    margin-bottom: 60px;
}.b-unavailable
{background: url(/images/inhtml/404.svg) center 40% no-repeat,url(/images/inhtml/waves.svg) -19% 3% no-repeat,url(/images/inhtml/waves.svg) 122% 89% no-repeat,#1d2a6c;background-size: 463px,267px,279px;

    -ms-flex-pack: center;justify-content: center;
}.b-unavailable__text
{font-size: 32px;line-height: 48px;

    width: 402px;padding-top: 33px;
}.b-additional
{
    margin-bottom: 69px;
}.b-additional-cards--club-card .b-additional-cards__text
{
    width: 100%;
}.b-additional-cards__item
{
    width: 50%;
}.b-additional-cards__item--plug
{
    display: -ms-flexbox                                ;display: flex;border: none;background: url(/images/inhtml/missing-card-bg.svg) center center no-repeat;background-size: 75%;
}.b-additional-cards__text
{
    font-size: 24px;width: 300px;
}.b-additional-cards__item--width .b-additional-cards__text
{width: 100%;
    padding: 0 10px;
}.b-additional-cards__img
{
    margin-bottom: 85px;
}.b-additional-cards--services .b-additional-cards__item
{
    -ms-flex-preferred-size: 50%;flex-basis: 50%;
}.b-additional-cards--actions
{
    margin-bottom: 170px;
}.b-additional-cards--actions .b-additional-cards
{
    margin-bottom: 150px;
}.b-additional-cards--actions .b-additional-cards__text
{
    padding: 0 20px;
}.b-additional-cards__item--bg-bot
{
    background-position-y: calc((100vw - 768px) * (155 - 119)/ (1023 - 768) + 100% + 119px);background-size: 68%;
}.b-additional-cards__item--bg-top
{
    background-position-y: calc((100vw - 768px) * (55 - 115)/ (1023 - 768) - 115px);background-size: 68%;
}.b-all-services
{margin-bottom: 53px;
    padding: 56px 0 72px;
}.b-all-services__text
{
    font-size: 20px;line-height: 24px;
}.b-breadcrumbs
{font-size: 15px;line-height: 20px;

    margin: 23px 0 12px;
}.b-breadcrumbs__item
{
    margin-right: 30px;
}.b-breadcrumbs--single-new
{
    margin: 23px 0 39px;
}.b-breadcrumbs--actions
{
    font-size: 12px;line-height: 17px;
}.b-breadcrumbs--actions .b-breadcrumbs__item
{
    margin-right: 10px;
}.b-burger__trigger
{
    margin: 0;
}.b-burger__expand
{flex-direction: row;

    -ms-flex-direction: row;
}.b-burger__white-part
{width: 332px;padding: 113px 40px 0 76px;

    -ms-flex-positive: 0;flex-grow: 0;-ms-flex-negative: 0;flex-shrink: 0;-ms-flex-order: -1;order: -1;
}.b-burger__blue-part
{margin: -18px 0 0;padding: 0 76px 0 64px;background-image: url(/images/inhtml/burger_background_tablet.svg);background-repeat: no-repeat;background-position: 273px 383px;background-size: 176px auto;

    -ms-flex-positive: 1;flex-grow: 1;
}.b-gallery--corporative-clients .b-gallery__item--pattern,
.b-gallery--sports .b-gallery__item--pattern
{
    background-image: url(/images/inhtml/waves_2.svg);background-repeat: no-repeat;background-size: calc((100vw - 768px) * (524 - 396)/ (1024 - 768) + 396px) auto;
}.b-burger__wrapper
{flex-direction: column;margin: 0;

    -ms-flex-direction: column;-ms-flex-align: start;align-items: flex-start;
}.b-burger__inner-wrapper
{width: auto;margin: 0;

    -ms-flex-order: 0;order: 0;
}.b-burger__btn-wrap
{flex-direction: column;margin: 0;

    -ms-flex-direction: column;
}.b-burger__telephone
{
    margin-bottom: 66px;
}.active.b-burger
{
    padding: 0;
}.active.b-burger .b-burger__trigger
{
    position: absolute;top: 12px;right: 76px;margin: 0;
}.b-button--play
{
    width: 94px;height: 94px;
}.b-button--text
{
    width: 97px;height: 92px;
}.b-button--text .b-icon--play
{
    font-size: 14px;
}.b-button--text.b-button--main
{
    margin-left: 0;
}.b-button--green.b-button--burger
{
    width: 168px;margin: 0 0 24px;
}.b-button--blue.b-button--burger
{
    width: 168px;margin: 0;
}.b-button--news
{
    margin-bottom: 114px;
}.b-button--offers-popup
{
    width: 296px;margin: 0 0 24px;
}.b-button--resume
{
    width: 252px;margin: 0;
}.b-button--cookie
{
    max-width: 240px;
}.b-cabinet-helix
{
    height: 1005px;margin-bottom: 17px;
}.b-checkbox--resume
{
    margin-bottom: 23px;
}.b-checkbox--offers-popup
{
    top: 205px;left: 76px;width: 616px;-ms-transform: none;transform: none;
}.b-checkbox--offers-popup br
{
    display: none;
}.b-contacts
{
    margin-top: 26px;padding-bottom: 83px;
}.b-contacts__info
{
    display: -ms-flexbox                                                ;display: flex;padding-top: 17px;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: start;align-items: flex-start;
}.b-contacts__address
{
    width: 100%;margin-bottom: 48px;
}.b-contacts__address::before
{
    top: -9px;
}.b-contacts__timetable
{
    margin-right: 60px;
}.b-contacts__timetable::before
{
    top: 32px;
}.b-contacts__hotline::before
{
    top: 35px;
}.b-contacts__map
{
    position: static;width: 100%;margin-top: -6px;-ms-transform: none;transform: none;
}.b-contacts__street
{
    display: inline-block;margin-left: 3px;
}.b-contacts__subtitle
{
    margin-bottom: 16px;
}.b-contacts__subtitle--hotline
{
    margin-bottom: 18px;
}.b-contacts__row
{
    margin-bottom: 6px;
}.b-contacts--page
{
    margin-top: 0;margin-bottom: 16px;padding-top: 69px;padding-bottom: 78px;
}.b-contacts--page .b-contacts__info
{
    margin-bottom: 16px;padding-left: 63px;
}.b-container
{
    padding: 0 76px;
}.b-container--wide
{
    padding: 0;
}.b-cookie
{flex-direction: row;

    -ms-flex-direction: row;
}.b-cookie__text
{margin-right: 40px;
    margin-bottom: 0;
}.b-corporative-clients
{
    padding-top: 57px;
}.b-corporative-clients__wrapper
{
    width: 744px;padding: 0 65px;
}.b-corporative-clients__subtitle
{font-size: 16px;

    display: block;margin: 0 auto 55px;padding: 0;text-align: center;
}.b-feedback
{
    margin-bottom: 155px;padding-top: 56px;
}.b-feedback__subtitle
{
    text-align: center;
}.b-feedback__wrapper
{
    display: -ms-flexbox                                                ;display: flex;margin: 0 -12px;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: start;align-items: flex-start;
}.b-feedback__form
{
    width: 488px;margin: 0 auto;
}.b-feedback--corporative-clients .b-feedback__subtitle
{font-size: 16px;

    padding: 0 138px;
}.b-feedback--corporative-clients
{
    padding-bottom: 68px;
}.b-feedback__successful-form
{
    min-height: 531px;
}.b-first-display
{flex-direction: row;padding: 25px 0 74px;

    -ms-flex-direction: row;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: center;align-items: center;-ms-flex-line-pack: start;align-content: flex-start;
}.b-first-display__wrapper
{width: auto;margin: 0 -76px 32px;padding-top: 25px;

    -ms-flex-positive: 1;flex-grow: 1;
}.b-first-display__links-wrap
{width: 100%;margin: 0;

    -ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: start;align-items: flex-start;
}.b-first-display--services
{
    padding-bottom: 60px;
}.b-footer__top
{
    display: -ms-flexbox                        ;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.b-footer__copyright
{width: 100%;margin-bottom: 0;

    -ms-flex-order: 1;order: 1;
}.b-footer__bottom
{
    display: -ms-flexbox                                ;display: flex;margin-top: -85px;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.b-footer__production
{
    width: calc(100% / 3);margin-bottom: 60px;margin-left: auto;padding-left: 39px;
}.b-footer__links
{
    width: calc(100%);margin: 0;
}.b-footer__links-item
{
    width: calc(100% / 3);margin: 0;
}.b-footer__links-item--legal
{
    width: calc(100% / 3 - 10px);
}.b-footer__links-item--privacy
{width: calc(100% / 3 + 10px);

    -ms-flex-pack: start;justify-content: flex-start;
}.b-footer__links-item--user
{
    padding-left: 39px;
}.b-footer__middle
{margin: 0;

    -ms-flex-wrap: nowrap                        ;flex-wrap: nowrap;
}.b-footer__contacts
{width: calc(100% / 3);margin: 0;padding-left: 39px;

    -ms-flex-positive: 0;flex-grow: 0;
}.b-footer__services
{width: calc(100% / 3 + 10px);margin: 0;

    -ms-flex-positive: 0;flex-grow: 0;
}.b-gallery__item
{
    display: -ms-flexbox                        ;display: flex;-ms-flex-align: start;align-items: flex-start;
}.b-gallery__item:last-child
{
    padding-bottom: 0;
}.b-gallery__item:nth-child(even) .b-gallery__slider-wrap
{margin: 0 0 0 24px;

    -ms-flex-order: 1;order: 1;
}.b-gallery__item:nth-child(even) .b-gallery__slider-wrap::before
{
    right: 100%;
}.b-gallery__item:nth-child(even) .b-gallery__text-wrap
{
    padding: 16px 64px 5px 76px;
}.b-gallery__slider-wrap
{
    width: calc(50% - 12px);margin: 0 24px 0 0;
}.b-gallery__slider-wrap::before
{
    top: 16px;right: 1px;
}.b-gallery__image-wrap
{
    height: calc((100vw - 768px) * (347 - 260)/ (1024 - 768) + 260px);
}.b-gallery__text-wrap
{
    padding: 16px 76px 5px 64px;
}.b-gallery__item-text
{
    margin-top: 9px;padding: 0;
}.b-gallery__arrows
{
    bottom: 22px;
}.b-gallery--corporative-clients .b-gallery__text-wrap
{
    padding: 4px 60px 0;
}.b-gallery--corporative-clients .b-gallery__item--pattern
{
    background-position: right calc(100% - 166px);
}.b-gallery--corporative-clients
{
    margin-bottom: 55px;
}.b-gallery--vacancies
{
    margin-bottom: 52px;
}.b-gallery--vacancies .b-gallery__text-wrap
{
    padding: 0 76px 5px 64px;
}.b-gallery--vacancies .b-gallery__item-text
{
    margin: 18px 0 23px;
}.b-gallery--sports .b-gallery__item
{
    padding: 0 0 43px;
}.b-gallery--sports .b-gallery__item--pattern
{
    background-position: right calc(100% - 45px);
}.b-gallery--sports .b-gallery__item-text
{
    margin-top: 15px;
}.b-header__telephone
{font-size: 14px;

    display: block;
}.b-header--main-page .b-header__telephone
{
    font-size: 12px;margin-right: 32px;
}.b-header--main-page.fixed .b-header__telephone
{font-size: 14px;

    display: block;
}.b-icon--link-faq
{
    font-size: 21px;
}.b-icon--play
{
    font-size: 20px;
}.b-input--feedback:not(.b-input--textarea)
{
    width: calc(50% - 24px);margin: 0 12px 32px;
}.b-input--mail
{
    -ms-flex-order: 2;order: 2;
}.b-link--faq
{
    font-size: 14px;line-height: 20px;
}.b-link--faq .b-link__content
{
    max-width: 135px;
}.b-link--faq .b-link__icon
{
    width: 48px;height: 48px;margin-right: 16px;
}.b-link--visually-impaired
{width: auto;margin: 0 0 52px;

    -ms-flex-item-align: start;align-self: flex-start;
}.b-link--locations-slider
{
    margin-bottom: auto;
}.b-link--pink-arrow.b-link--main
{
    margin: 0;
}.b-link--schedule
{margin-right: 35px;margin-bottom: 15px;
    margin-left: 35px;
}.b-link-block--cards
{
    margin: 56px 0 70px;
}.b-list--dots .b-list__item
{
    padding-left: 24px;
}.b-list--certificate
{
    column-count: 2;column-gap: 34px;
}.b-list--certificate .b-list__item
{
    font-size: 16px;line-height: 24px;margin: 0 0 29px;
}.b-list--certificate .b-list__item::before
{
    top: 8px;left: -16px;
}.b-locations-slider
{
    display: -ms-flexbox                        ;display: flex;background-position: right calc(50% + 10px);background-size: calc(50% + 12px) auto;
}.b-locations-slider__gallery
{
    position: relative;z-index: 2;overflow: hidden;width: calc(50% - 12px);max-width: none;margin: 0 24px 0 0;
}.b-locations-slider__gallery .slick-list
{
    position: relative;z-index: 2;margin: 0;
}.b-locations-slider__gallery::before
{
    display: block;
}.b-locations-slider__gallery-dots
{
    left: calc(50% + -48px);
}.b-locations-slider__gallery-slide
{
    position: relative;overflow: hidden;height: calc((100vw - 768px) * (347 - 258)/ (1024 - 768) + 258px);margin: 0;opacity: 1!important;
}.b-locations-slider__gallery-slide.slick-active .b-locations-slider__border-wrap
{width: calc(2 * (50vw - 12px) + 200px);height: calc(2 * (50vw - 12px) + 200px);transition: border-width .2s linear,width .2s linear .2s,height .2s linear .2s;

    border-width: 150px;
}.b-locations-slider__gallery-slide.slick-active .b-locations-slider__photo-wrap
{transition: all .2s linear .2s;
    -ms-transform: translate(-50%,-50%)                        ;transform: translate(-50%,-50%);
}.b-locations-slider__border-wrap
{
    position: absolute;top: 50%;right: 0;overflow: hidden;box-sizing: content-box;width: 70px;height: 70px;margin-top: calc(16px + 35px - ((100vw - 768px) * (347 - 258)/ (1024 - 768) + 258px)/ 2);transition: all 0s linear .5s;-ms-transform: translate(50%,-50%);transform: translate(50%,-50%);border: 0 solid #e3eb7d;border-radius: 50%;-webkit-clip-path: border-box;clip-path: border-box;
}.b-locations-slider__photo-wrap
{
    position: absolute;top: 50%;left: 50%;width: calc(50vw - 12px);height: calc((100vw - 768px) * (347 - 258)/ (1024 - 768) + 258px);margin: calc(((100vw - 768px) * (347 - 258)/ (1024 - 768) + 258px)/ 2 - 16px - 35px) 0 0 calc((12px - 50vw)/ 2);transition: all 0s linear .5s;-ms-transform: translate(-35%,-50%);transform: translate(-35%,-50%);
}.b-locations-slider__photo
{width: 100%;height: 100%;

    object-fit: cover;
}.b-locations-slider__wrapper
{
    display: -ms-flexbox                                                ;display: flex;flex-direction: column;width: calc(50% - 12px);max-width: none;padding: 12px 76px 18px 64px;-ms-flex-direction: column;
}.b-locations-slider__descriptions
{
    margin-bottom: 4px;
}.b-locations-slider__controls
{flex-direction: column;

    -ms-flex-positive: 1;flex-grow: 1;-ms-flex-direction: column;-ms-flex-align: start;align-items: flex-start;
}.b-locations-slider__arrows
{
    margin: 24px -8px 0;
}.b-locations-slider__arrow
{
    margin: 0 8px;
}.b-logo--burger
{
    position: absolute;top: 21px;left: 76px;
}.b-logo--footer
{
    margin-right: auto;
}.b-logo--main-page
{
    width: 424px;height: 60px;margin: 0;
}.b-logo--main-page svg
{
    width: 214px;height: 38px;
}.b-menu--burger-top
{
    margin-bottom: 44px;
}.b-menu--burger-bottom
{
    max-height: none;margin: 0 0 52px;
}.b-menu--burger-bottom .b-menu__item
{
    width: auto;margin: 0 0 28px;
}.b-menu--burger-bottom .b-menu__link
{
    letter-spacing: 0;
}.b-menu--header-bottom.b-menu--main-page
{
    display: -ms-flexbox                                ;display: flex;flex-direction: row;margin-right: auto;-ms-flex-direction: row;
}.b-page-wrapper__circle-svg--mobile,
.fixed .b-menu--header-bottom.b-menu--main-page
{
    display: none;
}.b-menu--header-bottom.b-menu--main-page .b-menu__link
{
    font-size: 10px;line-height: 16px;color: #fff;
}.fixed .b-menu--header-bottom.b-menu--main-page .b-menu__link
{
    color: #333;
}.b-menu--footer
{width: calc(100% / 3 - 10px);

    -ms-flex-positive: 0;flex-grow: 0;
}.b-menu--services
{
    width: 100%;
}.b-news-cards
{
    margin-bottom: 119px;
}.b-news-cards__card
{
    height: calc((100vw - 768px) * (513 - 362)/ (1024 - 768) + 362px);
}.b-news-cards__text
{
    font-size: 20px;line-height: 32px;
}.b-news-cards__subtext
{
    font-size: 16px;line-height: 24px;width: 90%;margin-bottom: 23px;padding-right: 0;
}.b-offers
{
    margin-bottom: 114px;
}.b-online
{
    margin-bottom: 56px;padding-top: 148px;
}.b-page-wrapper--faq h1,
.b-page-wrapper--legal-info h1
{
    width: 65%;margin: 56px auto 47px;
}.b-page-wrapper__pattern
{background-position: -34px 71px,calc(100% + 89px) 36px;
    background-size: 230px auto;
}.b-page-wrapper__circle
{
    width: 100%;height: 348px;
}.b-page-wrapper__circle-svg--tablet
{
    display: block;
}.b-photo-cards
{
    display: -ms-flexbox                                ;display: flex;margin: 0 -12px;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.b-photo-cards__card
{
    width: calc(100% / 2 - 24px);margin: 0 12px;
}.b-photo-cards--news .b-photo-cards__card
{
    margin-bottom: 60px;
}.b-photo-cards--news .b-photo-cards__image
{
    margin-bottom: 27px;
}.b-photo-cards--news .b-photo-cards__text
{
    font-size: 20px;line-height: 28px;margin-bottom: 8px;padding-right: 0;
}.b-photo-cards--news .b-photo-cards__subtext
{
    font-size: 14px;
}.b-photo-cards--services .b-photo-cards
{
    display: -ms-flexbox                                ;display: flex;margin: 0 -12px;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.b-photo-cards--services .b-photo-cards__card
{
    width: calc(100% / 2 - 24px);margin: 0 12px 51px;
}.b-photo-cards--services .b-photo-cards__card:nth-last-child(2)
{
    margin-bottom: 0;
}.b-photo-cards--services .b-photo-cards__text
{
    padding-right: 80px;
}.b-photo-cards--slider .b-photo-cards__slide-wrap
{
    width: 100%;margin-bottom: 47px;
}.b-photo-cards--slider .b-photo-cards__card
{
    margin: 0;
}.b-photo-cards--slider .b-photo-cards__arrows
{
    width: 100%;margin: 0;
}.b-photo-cards--slider
{
    padding-top: 24px;
}.b-photo-cards--slider .slick-list
{
    margin: 0 -12px;
}.b-photo-cards--slider .slick-slide
{
    margin: 0 12px;
}.b-popup-certificate__wrapper
{
    padding: 168px 69px 70px 92px;
}.b-popup-offers
{
    padding-top: 32px;
}.b-popup-offers__title
{
    font-size: 24px;line-height: 40px;width: auto;margin: 0 0 21px;
}.b-popup-offers__title--blue-part
{
    font-size: 24px;line-height: 30px;
}.b-popup-offers-content.active
{
    display: -ms-flexbox                                                ;display: flex;padding-top: 33px;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: start;align-items: flex-start;
}.b-popup-offers-content__services
{
    width: calc(50% - 12px);margin-bottom: 0;padding: 0;
}.b-popup-offers-content__services--inner
{
    width: 100%;margin-bottom: 30px;
}.b-popup-offers-content__services--inner:last-child
{
    margin-bottom: 0;
}.b-popup-offers-content__subtitle
{
    margin-bottom: 14px;
}.b-popup-offers-content__wrapper
{
    width: calc(50% - 12px);padding-right: 50px;
}.b-popup-offers-content__services-item
{
    line-height: 18px;
}.b-popup-offers-content__services-list
{
    margin-bottom: 41px;
}.b-popup-offers__type-card
{
    font-size: 12px;margin-bottom: 22px;
}.b-popup-offers__subtitle
{
    font-size: 16px;margin: 0 0 16px 18px;
}.b-popup-offers__timetable
{
    margin: auto -18px 0;
}.b-popup-offers__days
{
    margin: 0 18px;
}.b-popup-offers__days-name
{
    font-size: 12px;
}.b-popup-offers__time
{
    font-size: 16px;
}.b-popup-offers__white-part
{
    padding: 0 76px 31px;
}.b-popup-offers__blue-part
{
    display: -ms-flexbox                                                ;display: flex;padding: 24px 76px 96px;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: start;align-items: flex-start;
}.b-popup-offers__text-wrap
{
    width: calc(50% - 12px);margin: 0;
}.b-popup-offers__button-wrap
{
    width: calc(50% - 12px);padding-top: 7px;
}.b-popup-offers--promotion .b-popup-offers__title
{
    line-height: 32px;
}.b-popup-offers--promotion .b-popup-offers__white-part
{
    width: auto;margin: 0;
}.b-popup-offers--promotion .b-popup-offers__white-part::before
{
    top: -214px;left: -112px;width: 589px;height: 589px;background-size: 220px auto;
}.b-popup-offers--promotion .b-popup-offers__old-price
{
    font-size: 16px;margin-bottom: 8px;
}.b-popup-offers--promotion .b-popup-offers__new-price
{
    font-size: 32px;line-height: 40px;
}.b-popup-offers--promotion .b-popup-offers__circle
{
    width: 296px;height: 296px;margin: 55px 0 0;padding: 40px 35px 40px 65px;
}.b-popup-offers--promotion .b-popup-offers__circle--regular
{
    padding: 0;
}.b-popup-offers--promotion .b-popup-offers__value
{
    font-size: 32px;line-height: 40px;
}.b-popup-offers--promotion .b-popup-offers__key
{
    font-size: 24px;line-height: 40px;
}.b-popup-offers--promotion .b-popup-offers__info
{
    font-size: 16px;padding-right: 28px;
}.b-popup-offers--promotion .b-popup-offers__currency--new-price
{
    font-size: 25px;
}.b-popup-offers--promotion .b-popup-offers__price-wrap
{
    width: 192px;
}.b-popup-offers--promotion .b-popup-offers__countdown
{
    margin-bottom: 9px;
}.b-popup-offers--promotion .b-popup-offers__top-wrapper
{
    margin: -159px 0 56px;
}.b-popup-offers--promotion .b-popup-offers__type-card
{
    margin: -49px 0 23px;
}.b-popup-sign-in__text
{
    width: auto;
}.b-radio--square
{
    width: 40px;height: 40px;margin-right: 7px;margin-bottom: 7px;
}.b-resume__template-wrap
{
    display: -ms-flexbox                                ;display: flex;padding-right: 0;-ms-flex-align: center;align-items: center;
}.b-resume__template
{margin-right: 105px;

    -ms-flex-negative: 0;flex-shrink: 0;
}.b-resume__form
{padding: 33px 64px 32px;

    background-image: url(/images/inhtml/waves.svg);background-repeat: no-repeat;background-position: 360px 226px;background-size: 410px auto;
}.b-resume__note
{
    font-size: 12px;margin-bottom: 32px;
}.b-resume__template-text
{
    font-size: 16px;
}.b-resume__parameters
{
    font-size: 12px;
}.b-resume__info
{
    padding-bottom: 14px;
}.b-resume .drop-zone-file__name,
.b-resume__upload-message
{
    font-size: 16px;
}.b-schedule__wrapper
{
    display: -ms-flexbox                                                ;display: flex;flex-direction: column;min-height: 260px;padding-top: 56px;padding-bottom: 30px;-ms-flex-direction: column;
}.b-schedule__picture
{
    width: 1920px;height: 100%;
}.b-schedule__links
{flex-direction: row;margin: 0 -35px;padding: 0 20px 0 0;

    -ms-flex-direction: row;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-pack: center;justify-content: center;-ms-flex-align: stretch;align-items: stretch;
}.b-select--feedback
{width: calc(50% - 24px);margin: 0 12px 32px;

    -ms-flex-order: 1;order: 1;
}.b-services-cards--services
{flex-direction: row;width: 768px;margin: 0 auto;padding: 0;

    -ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: end;align-items: flex-end;-ms-flex-direction: row;-ms-flex-wrap: wrap-reverse;flex-wrap: wrap-reverse;
}.b-services-cards--services .b-services-cards__card
{
    padding: 25px 30px 29px;
}.b-services-cards--services .b-services-cards__card--big
{
    padding: 25px 36px 44px;
}.b-services-cards--services .b-services-cards__card--big .b-services-cards__description
{
    margin-bottom: 23px;
}.b-services-cards--services .b-services-cards__card:nth-child(1)
{
    z-index: 4;margin: -40px 10px 0 -10px;
}.b-services-cards--services .b-services-cards__card:nth-child(2)
{margin: -51px 0 0 76px;

    -ms-flex-order: 1;order: 1;
}.b-services-cards--services .b-services-cards__card:nth-child(3)
{
    margin: -115px 0 0;
}.b-services-cards--services .b-services-cards__card:nth-child(4)
{margin: -51px 76px 0 0;

    -ms-flex-order: 2;order: 2;
}.b-services-cards--services .b-services-cards__card:nth-child(5)
{
    margin: -40px -10px 0 10px;
}.b-services-cards--services .b-services-cards__arrow
{
    font-size: 10px;width: 32px;height: 32px;
}.b-services-cards--main
{flex-direction: row;width: 768px;margin: 0 auto;padding: 0;

    -ms-flex-pack: center;justify-content: center;-ms-flex-align: end;align-items: flex-end;-ms-flex-direction: row;-ms-flex-wrap: wrap-reverse;flex-wrap: wrap-reverse;
}.b-services-cards--main .b-services-cards__card:nth-child(1)
{
    z-index: 3;
}.b-services-cards--main .b-services-cards__card:nth-child(2)
{
    z-index: 2;margin: 0 24px -71px 0;-ms-flex-order: 1;order: 1;
}.b-services-cards--main .b-services-cards__card:nth-child(4)
{margin: 0 0 -71px;

    -ms-flex-order: 2;order: 2;
}.b-services-cards--main .b-services-cards__card:nth-child(5)
{
    margin-top: 0;
}.b-services-cards--main .b-services-cards__card:nth-child(3)
{
    z-index: 1;margin: 0 12px;
}.b-social-link--footer
{
    width: calc(100% / 3);padding-left: 22px;
}.b-social-link--first-display
{width: auto;margin: 0 -12px;

    -ms-flex-order: 2;order: 2;
}.b-social-link--first-display .b-social-link__item
{
    margin: 0 12px;
}.b-social-link--first-display .b-social-link__link
{
    font-size: 40px;
}.b-space__wrapper
{
    display: -ms-flexbox                                        ;display: flex;margin-bottom: 48px;padding-top: 16px;-ms-flex-align: start;align-items: flex-start;
}.b-title--align-center,
.b-title--h1.b-title--contacts,
.b-title--main-services,
.b-title--team
{
    display: block;text-align: center;
}.b-space__info
{
    margin: 0 0 0 57px;
}.b-space__links
{
    padding: 47px 0;
}.b-sports__wrapper
{
    width: 495px;margin: 0 auto 32px;
}.b-sports__info
{font-size: 16px;line-height: 20px;padding-right: 0;

    text-align: center;
}.b-steps__card--yellow
{
    height: 360px;padding-bottom: 45px;
}.b-steps__card--dark-blue
{
    width: 488px;height: 488px;padding: 7px 100px 0;
}.b-steps__card--red
{
    height: 360px;padding-bottom: 13px;
}.b-steps__card--blue
{
    width: 488px;height: 488px;padding: 22px 121px 0;background-size: 179px;
}.b-steps--corporative-clients .b-steps__card--dark-blue
{
    margin-top: -123px;
}.b-steps--corporative-clients .b-steps__card--red
{
    margin-top: -119px;
}.b-steps--corporative-clients .b-steps__card--blue
{
    margin-top: -180px;
}.b-steps--corporative-clients
{
    margin: 0;
}.b-tab__link
{
    font-size: 17px;
}.b-tab__head
{
    margin-bottom: 17px;
}.b-tab--online .b-tab__head
{
    margin: 0 -9px 17px;
}.b-tab--online .b-tab__head-item
{
    margin: 0 9px;
}.b-tab--online .b-tab__link
{
    min-width: 188px;
}.b-tab--team .b-tab__head
{width: calc(100% + 152px);margin: 0 -76px 34px;
    padding-left: 55px;
}.b-tab--radio .b-tab__head
{flex-direction: row;margin: 0;

    -ms-flex-direction: row;
}.b-tab--radio .b-tab__head-item
{width: calc(100% / 3);padding: 0;

    border: 1px solid #1e7bc6;border-right: 0;
}.b-tab--radio .b-tab__head-item:last-child
{
    border-right: 1px solid #1e7bc6;
}.b-tab--radio .b-tab__content
{
    width: auto;margin: 0;
}.b-tab--one-time-visit .b-tab__head-item,
.b-trainer__picture,
.b-trainer__wrapper
{
    width: 50%;
}.b-tab--one-time-visit .b-tab__descriptions,
.b-tab--one-time-visit .b-tab__wrapper
{
    width: auto;
}.b-tab__label
{flex-direction: column;padding: 16px 15px 10px 25px;

    -ms-flex-direction: column;
}.b-tab__descriptions
{width: auto;margin-bottom: 12px;

    -ms-flex-order: 0;order: 0;
}.b-tab__term
{
    font-size: 16px;margin: 0 0 15px;
}.b-tab__descriptions-item
{
    font-size: 12px;
}.b-tab--club-cards .b-tab__head
{padding-left: 26px;

    -ms-flex-pack: center;justify-content: center;
}.b-tab--club-cards .b-tab__link-text
{
    font-size: 15px;
}.b-team
{
    position: relative;margin-bottom: 52px;padding-top: 68px;
}.b-text-block--accordion p
{
    width: 94%;
}.b-things
{
    position: relative;
}.b-things__list
{
    width: 400px;margin: 0 auto;
}.b-things::after,
.b-things::before
{position: absolute;z-index: -1;

    content: '';background: url(/images/inhtml/waves.svg) no-repeat;background-size: 100%;
}.b-things::before
{top: 50%;left: -157px;

    width: 318px;height: 200px;-ms-transform: translate(0,-52%);transform: translate(0,-52%);
}.b-things::after
{top: 50%;right: -198px;

    width: 375px;height: 220px;-ms-transform: translate(0,-40%);transform: translate(0,-40%);
}.b-title--h1.b-title--contacts
{
    margin-bottom: 51px;
}.b-title--h2
{
    font-size: 28px;line-height: 40px;
}.b-title--h2.b-title--main-page
{
    margin-bottom: 40px;
}.b-title--h4
{
    font-size: 24px;line-height: 32px;
}.b-title--h1-rules
{
    margin-top: 56px;margin-bottom: 47px;text-align: center;
}.b-title--news
{margin-bottom: 55px;padding-top: 47px;

    text-align: center;
}.b-title--team
{
    margin-bottom: 28px;
}.b-title--schedule
{line-height: 56px;margin-bottom: 57px;

    text-align: center;
}.b-title--online
{
    max-width: none;
}.b-title--trainer
{margin-bottom: 27px;
    padding-top: 1px;
}.b-title--news-page
{
    font-size: 32px;line-height: 40px;margin-bottom: 32px;
}.b-title--corporat-title-page
{
    width: 320px;margin: 0 auto 32px;padding: 0;text-align: center;
}.b-title--corporat-slider-title
{
    margin-bottom: 24px;
}.b-title--vacancy
{
    margin: 57px 0 30px;
}.b-title--sports-services
{
    margin-bottom: 62px;
}.b-title--main-services
{
    margin-top: 57px;
}.b-title--club-card
{display: -ms-flexbox;display: flex;

    margin: 48px auto 30px;-ms-flex-pack: center;justify-content: center;
}.b-title--club-card-h2
{
    font-size: 24px;line-height: 27px;margin-bottom: 12px;
}.b-title--sports
{
    margin-bottom: 0;
}.b-trainer
{flex-direction: row;

    margin-bottom: 178px;-ms-flex-direction: row;
}.b-trainer__picture
{
    height: 376px;margin-right: 26px;
}.b-trainer__trainer-info
{
    padding-top: 20px;
}.b-trainer__position
{
    padding-right: 16px;
}.b-trainer-cards
{
    display: -ms-flexbox                                ;display: flex;margin: 0 auto;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.b-trainer-cards__card
{width: 33.333%;min-height: 482px;
    padding: 252px 43px 64px;
}.b-trainer-cards--team
{
    margin: 0 -76px 142px;
}.b-trainer-cards__picture
{
    top: 61px;
}.b-trainer-cards--slider
{
    margin-top: 48px;
}.b-trainer-cards--slider .b-trainer-cards__card
{
    min-height: 520px;padding: 272px 43px 64px;
}.b-trainer-cards--slider .b-trainer-cards__slide-wrap
{
    width: 100%;
}.b-trainer-cards--slider .b-trainer-cards__arrows
{
    position: absolute;top: 226px;right: 68px;
}.b-trainer-cards--slider .b-trainer-cards__picture
{
    top: 80px;
}.b-vacancies
{
    margin-bottom: 108px;
}.b-vacancies__text
{
    font-size: 16px;line-height: 20px;width: 486px;margin: 0 auto 49px;text-align: center;
}.b-vacancies__title
{
    font-size: 24px;line-height: 32px;margin-bottom: 48px;text-align: center;
}.b-vacancy-description
{
    width: 100%;margin: 0 auto 43px;padding: 19px 0 0 65px;
}.b-vacancy-description__content
{
    display: -ms-flexbox                                                ;display: flex;margin-bottom: 17px;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-pack: justify;justify-content: space-between;
}.b-vacancy-description__wrapper
{width: 232px;
    margin-bottom: 15px;
}.b-vacancy-list__item::before
{
    top: 3px;left: -25px;
}
